---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<nav aria-label="Primary navigation">
  <ul>
    <% list.forEach((post) => { %>
    <li>
      <a href="<%= post.url %>"><%= post.data.title %></a>
      <div>
        <i class="publish-date">Publised on <%= this.dateFns.format(post.data.date, 'yyyy-MM-dd') %></i>
      </div>
    </li>
    <% }) %>
  </ul>
</nav>

<div>
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div>
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
  </div>
  <% } %>
</div>
